<div class='l-static'>
  <p>
    I would not have finished this project were it not for the wonderful resources available to me.
    <ul>
      <li>This project was completed as part of <a href="https://www.theodinproject.com/lessons/ruby-on-rails-rails-final-project">The Odin Project Ruby on Rails course</a> and all the associated resources of the community, including all the folks on the discord that helped and supported me while I was working through this project.</li>
      <li>Alexandre Ruban's <a href="https://www.hotrails.dev/">Hotrails tutorial</a> which dove into all things Hotwire. My CSS is largely based on his, and I owe his tutorial a debt.</li>
      <li><a href="https://www.flaticon.com/free-icons/user" title="user icons">Default user icon created by Freepik - Flaticon</a></li>
    </ul>
  </p>
<div>