<h1>Edit Comment</h1>
<%= turbo_frame_tag "#{dom_id(@comment)}_text" do %>
  <%= form_with model: @comment,
              data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' } do |form| %>
  <%= form.text_area :content,
                     size: '30x2',
                     placeholer: "Add a comment...",
                     required: true %>
  <%= form.submit %>
  <% end %>
<% end %>