<% resource = params[:like][:likeable_type].constantize.find(params[:like][:likeable_id]) %>

<%= turbo_frame_tag "#{params[:like][:likeable_type].downcase}_#{params[:like][:likeable_id]}_likes" do %>
  <% if resource.is_a?(Comment) %>
    <%= link_to 'Like', comment_likes_path(resource, like: {liked_by: current_user.id, likeable_id: resource.id, likeable_type: 'Comment' }), data: { turbo_method: :post } %>
  <% elsif resource.is_a?(Post) %>
    <%= link_to 'Like', post_likes_path(resource, like: {liked_by: current_user.id, likeable_id: resource.id, likeable_type: 'Post' }), data: { turbo_method: :post } %>
  <% end %>
  <span>Likes: <%= resource.likes.size %> </span>
<% end %> 