// app/assets/stylesheets/layouts/_container.scss

.l-container {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}
