// app/assets/stylesheets/layout/_header.scss
/*
header
  nav
    header__search
    header__nav
*/

.l-header {
  background-color: var(--color-tertiary);

  & nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 0 var(--space-xxxs);
    justify-content: space-evenly;
    align-items: center;
  }
}

