// app/assets/stylesheets/layout/_new_post.scss

.l-new_post {
  padding: var(--space-xxs);
 
  & form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    textarea { flex: 90% }
    input { flex: 10% }
  }
}