
<div class="empty-state">
  <p class="empty-state__text">
    No posts here... yet. Make some friends to see their posts!
  </p>

  You can use the search box above to find your friends, or <%= link_to 'see all current users', users_path %>.
</div>