
<div class="empty-state">
  <p class="empty-state__text">
    No posts here... yet. Make some friends to see their posts!
  </p>
  <p>You can use the search box above to find your friends, or <%= link_to 'see all current users', users_path %>.</p>
  <br>
  Want to check the app out? Try logging in with these credentials:<br>
  <ul>
    <li>email: <span class="empty-state__code">test1@test.com</span></li>
    <li>password: <span class="empty-state__code">password</span></li>
  </ul>
</div>