<div class="c-post">
  <div class="c-post__badge">
    <span class="c-post__image">img</span>
    <span class="c-post__name"><%= post.user.name %></span>
  </div>
  <div class="c-post__content">
    <p class="c-post__body"><%= post.content %></p>
  </div>
  <div class="c-post__status">
    <p class="c-post__info">
      <span>Likes: <%= post.likes_count %></span>
      <span><%=post.comments.count %> Comments</span>
    </p>
  </div>
  <div class="post__responses">
    <!-- the following element should probably go in a comment partial -->
    <div class="post__comment"> 
      <div class="c-post__badge-comment">
        <span class="c-post__image-comment">img</span>
        <span class="c-post__name-comment">comment's user</span>
      </div>
      <div class="c-post__content-comment">
        <p class="c-post__body-comment">comment content</p>
      </div>
      <div class="c-post__status-comment">
        <p class="c-post__info">
          <span>Likes: 56</span>
          <span>Reply: </span>
        </p>
      </div>
    </div>
  </div>
  <div class="post__input">
  </div>
</div>