// app/assets/stylesheets/components/_comment.scss

/*
c-comment
  c-comment__header
    c-user__badge
    c-comment__actions (if comment is owned)
  c-comment__content
  c-comment__status
*/

.c-comment {
  margin-bottom: 10px;
  background-color: var(--color-tertiary);
  padding: var(--space-xs);

  &__header {
    padding: var(--space-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: var(--space-xs);
  }

  &__status {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: var(--space-xxs);
  }
}