// app/assets/stylesheets/components/_empty.scss

.empty-state {
  padding: var(--space-m);
  border: var(--border);
  border-style: dashed;
  text-align: center;
  display: none;
  margin: var(--space-m);

  &__text {
    font-size: var(--font-size-l);
    color: var(--color-text-header);
    margin-bottom: var(--space-l);
    font-weight: bold;
  }

  &__code {
    font-family: mono;
  }

  &:only-child {
    display: revert;
  }
}