// app/assets/stylesheets/components/_flash.scss

.l-flash {
  display: block;
  position: fixed;
  bottom: 2em;
  right: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
  padding: 0 var(--space-m);

  &__message {
    font-size: var(--font-size-s);
    color: var(--color-black);
    padding: var(--space-xs) var(--space-m);
    animation: appear-then-fade 4s both;
    
    &-notice {
      background-color: palegoldenrod;
      font-style: italic;
    }
  
    &-alert {
      background-color: palevioletred;
      font-weight: bold;
    }
  }
}