// app/assets/stylesheets/components/_flash.scss

.l-flash {
  position: fixed;
  bottom: 2em;
  right: 3em;
  width: 10em !important;
  height: 2em !important;
}

.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}