// app/assets/stylesheets/compontents/_form.scss

form {
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
  
  & trix-editor {
    flex: 3 1 90%;
  }

  & input[type='submit'] {
    flex: 1 1 10%;
  }
}