// app/assets/stylesheets/components/_link.scss

.link {
  padding: var(--space-xxs);
  color: var(--color-primary);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &--no-pad {
    padding: 0px;
    border: none;
  }

  &--no-bold {
    font-weight: normal;
  }
}
