// app/assets/stylesheets/components/_post.scss

/*
c-post
  c-post__header
    c-post__badge
      c-user__badge
    c_post__actions (if owned)
  c-post__content
  c-post__status
  c-post__responses
  c-post__input
*/

.c-post {
  padding: var(--space-xs);
  background-color: var(--color-secondary-bg);
  margin-bottom: var(--space-l);
  border-radius: var(--border-radius);

  &__header {
    border-left: 10px solid transparent;
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__badge {
    padding: var(--space-xxs);
  }

  &__content {
    padding: var(--space-m);
  }

  &__status {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: var(--space-xxs);
  }

  &__responses {
    padding: var(--space-m);
  }

  &__input {
    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    textarea { flex: 90% }
    input { flex: 10% }
  }
}