<% flash.each do |flash_type, message| %>
  <div class="l-flash__message l-flash__message-<%= flash_type %>"
      data-controller='toggle-display'
      data-action='animationend->toggle-display#hide'
  >
    <%= message %>
  </div>
<% end %>